<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @message.post_id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @message.author %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
